@import "normalize", "mediaqueries", "variables", "colors", "layout";

body {
  margin: 0;
  .el-fluid {
    float: left;
  }
  .m-3-col {
    width: 25%;
  }
}
header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 0;
  background-color: #ccc;
  h1 {
    margin: 0;
  }
}
